<%- include('header') -%>
<%- include('navbar') -%>

<!-- Recipe detail -->
<div class="container mx-auto m-8 justify-center items-center flex">

  <section class="text-gray-700 body-font overflow-hidden bg-white">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"><%= recipe.name %></h1>
          <div class="container flex mx-auto w-full items-center justify-center">
            <ul class="flex flex-col  p-4">
              <% recipe.ingredients.forEach(function(ingredient){ %>
                 <li class="flex flex-row mb-2">
                   <div class="select-none bg-gray-200 rounded-md flex flex-1 items-center p-4">
                     <div class="flex-1 pl-1 mr-16">
                       <div class="font-medium"><%= ingredient.name %></div>
                       <div class="text-gray-600 text-sm"></div>
                     </div>
                     <div class="text-gray-600 text-xs"><%= ingredient.quantity %><%= ingredient.unit %></div>
                   </div>
                 </li>
                 <% }); %>
             </ul>
             
           </div>
          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
          </div>
          <div class="flex">
            <span class="title-font font-medium text-2xl text-gray-900"><%= recipe.price %></span>
            <button class="flex ml-auto text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded" onclick="location.href='/recipes/edit/<%= recipe._id %>'">Edit</button>
            <button class=" bg-red-500 border-0 py-2 px-6  border-0 inline-flex items-center rounded justify-center text-white ml-4" onclick="location.href='/recipes/del/<%= recipe._id  %>'" >Delete
            </button>
          </div>
          <div class="container mt-6">
          <h1 class="title-font tracking-widest text-xl pb-5">Preparation</h1>
          <p class="leading-relaxed"><%= recipe.preparation %></p>
        </div>
        </div>

      </div>
    </div>
  </section>
<%- include('footer') -%>