<%- include('header') -%>
<%- include('navbar') -%>

<!-- new recipe button -->
<div class="container m-8 flex">
    <button
    class="float-right bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="button"
    onclick="location.href='/recipes/new'"
    >
    Add new recipe
    </button>

</div>

<!-- recipes in a shop -->


<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    <% recipes.forEach(function(recipe){ %>

      <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
          <article class="overflow-hidden rounded-lg shadow-lg">
              <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                      <a class="no-underline hover:underline text-black" href="/recipes/<%= recipe._id %>/details">
                          <%= recipe.name %>
                      </a>
                  </h1>
                  <p class="text-grey text-sm">
                      <%= recipe.price %> Ft
                  </p>
              </header>

          </article>
      </div>
      <% }); %>
     
<%- include('footer') -%>